
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    position: sticky;
    margin: 0 auto;
    padding: 5px;
    background-color: #1a1f43;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .search-form {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 40%;
    height: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 300px;
    outline: none;
  }
  
  button[type="submit"], button[type="button"] {
    padding: 10px;
    background-color: gainsboro;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 430px
  }
  
  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgb(136, 136, 184);
  
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  
  .photo-card {
    width: calc(20% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .info {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .info-item {
    margin-bottom: 5px;
  }
  
  .load-more {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .load-more:hover {
    background-color: #218838;
  }
  @media only screen and (max-width: 1000px) {
    button[type="submit"], button[type="button"] {
        padding: 10px;
        background-color: gainsboro;
        color: #fff;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 280px
      }
  }
  @media only screen and (max-width: 700px) {
    button[type="submit"], button[type="button"] {
        padding: 10px;
        background-color: gainsboro;
        color: #fff;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 10px
      }
  }