
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    position: sticky;
    margin: 0 auto;
    padding: 5px;
    background-color: #1a1f43;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .search-form {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 40%;
    height: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 300px;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: gainsboro;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 430px
  }
  
  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgb(136, 136, 184);
  
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  
  .photo-card {
    width: calc(20% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /*.info {
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .info-item {
    margin-bottom: 2px;
    font-size: 10px;
  } */
  .info {
    display: flex;
    justify-content: space-evenly;
  }
  
  .info-group {
    display: flex;
  }
  
  .info-item {
    margin-right: 5px;
    font-size: 10px;
  }
  
  .like-number,
  .view-number,
  .comment-number,
  .download-number {
    margin-left: 2px; 
    font-size: 10px;
  }
  
  .load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .load-more {
    background-color: #1a1f43;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .hidden {
    display: none;
  }
  .load-more:hover {
    background-color: rgb(84, 84, 196);
  }
  
  
  @media only screen and (max-width: 1000px) {
    button[type="submit"], button[type="button"] {
        padding: 10px;
        background-color: gainsboro;
        color: #fff;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 280px
      }
  }
  @media only screen and (max-width: 700px) {
    button[type="submit"], button[type="button"] {
        padding: 10px;
        background-color: gainsboro;
        color: #fff;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 10px
      }
  }